/* Q1 */
.container h1 {
  font-weight: 500px;
  color: rgb(252, 145, 14);
}

/* Q2 */

.nav > span {
  color: red;
}

/* Q3 */

.jumbotron div p:last-of-type a {
  color: aquamarine;
}

/* Q4 */

.container .row .blog-main > div:first-of-type {
  border: 2px solid green;
}

/* Q5 */

.container .row .blog-main > div:first-of-type hr {
  background-color: red;
}

/* Q6 */
.nav span:nth-of-type(2n) {
  font-weight: bold;
  color: blueviolet;
}

/* Q7 */

aside > div:nth-child(2) ol a {
  color: rgb(91, 202, 27);
  font-size: 30px;
  font-style: italic;
}

/* Q8 */

.blog-post:nth-of-type(2) p:first-of-type > a {
  border: 2px solid rgb(0, 0, 0);
}

/*  Q9 */

.container .row .blog-main > div:last-of-type ul li:nth-child(2) {
  border: 5px solid orangered;
  color: aliceblue;
  background-color: brown;
}

/* Q10 */

body > a:last-of-type {
  color: darkorchid;
  font-size: 50px;
  font-weight: 500px;
}

/* Q11 */

.blog-main nav .btn.disabled {
  color: lightcoral;
}

/*  Q12 */

footer > p a:last-child {
  color: firebrick;
  font-size: 35px;
}
